body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.game-board {
    display: flex;
    height: 520px;
    width: 520px;
    flex-wrap: wrap;
    position: relative;

}


.block {
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.player-one {
    background-color: orange;
    transition: transform 0.1s ease-out;
    width: 50px;
    height: 50px;
    z-index: 1;
    position: fixed;
}

.player-two {
    background-color: lime;
    width: 50px;
    height: 50px;
}