@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Notable&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;}

h1 {
    position: absolute;
    top: 5%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    position: absolute;
    left: 10%;
}

.coin {
    background-color: gold;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    position: absolute;
    right: 10%;
}

.instructions {
    text-align: center;
    width: 20%;
    position: absolute;
    bottom: 5%;
}

ul {
    font-size: 20px;
    width:100%;
    text-align: left; 
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
    position: sticky;
}

.game-board-edges {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    background-color: violet;
}

.active-space {
    width: 20px;
    height: 20px;
    background-color: #646464;
}

.dead-space {
    width: 20px;
    height: 20px;
}

.player {
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    font-weight: bold;
}

.player-one {
    background-color: orange;
}

.player-two {
    background-color: aqua;
}

.start {
    width: 20px;
    height: 20px;
    background-color: darkkhaki;
    text-align: center;
}

